In [23]:
import pandas as pd
import numpy as np
# print('numpy version :', np.__version__)
print('pandas version :', pd.__version__)

pandas version : 2.1.2

In [28]:
lab = ['X','Y','Z']
new_label = [.1,.2,.3]
data1 = [120,48,842]
print(pd.Series(data=data1))
print(pd.Series(data=lab))

0    120
1     48
2    842
dtype: int64
0    X
1    Y
2    Z
dtype: object

In [29]:
#using numpy arrays
my_array = np.array(data1)
series = pd.Series(data=my_array,index=new_label)
print(series)

0.1    120
0.2     48
0.3    842
dtype: int32

In [33]:
#using dictionaries
dict1= {"name": "kushagra", "age": 85,"city": "meerut"}
print(pd.Series(data=dict1))

dict2= {"name": "kushagra", "age": "85","city": "meerut"}
print(pd.Series(data=dict2))

name    kushagra
age           85
city      meerut
dtype: object
name    kushagra
age           85
city      meerut
dtype: object

In [55]:
#data fetching using pandas from series
dict3= {"name": "mukund", "age": 56,"city": "delhi"}
dict4= {"name": "mayank", "age": 26,"city": "kalka"}
ser1 = pd.Series(data=dict1)
ser2 = pd.Series(data=dict2)
ser3 = pd.Series(dict3)
ser4 = pd.Series(data=dict4)
# ser5 =ser1 + ser2
# print(ser5)
print("series1 will be: ",ser1.values)
print("series1 will be: ",ser2["age"])
print("series1 will be: ",ser3["city"])
print("series1 will be: ",ser4["name"],["age"])

series1 will be:  ['kushagra' 85 'meerut']
series1 will be:  85
series1 will be:  delhi
series1 will be:  mayank ['age']