In [4]:
import numpy as np
import pandas as pd
dict1= {"name": "kushagra", "age": 85,"city": "meerut"}
print(pd.Series(data=dict1))

dict2= {"name": "kushagra", "age": "85","city": "meerut"}
print(pd.Series(data=dict2))

name    kushagra
age           85
city      meerut
dtype: object
name    kushagra
age           85
city      meerut
dtype: object

In [36]:
#hierarchical indexing starts
se=np.random.seed(42)
print(se)

None

In [43]:
df = pd.DataFrame(np.arange(12).reshape((4,3)),index=[['a','a','b','b'],[1,2,1,2]],columns=['AB','ON','BC'])
print(df)

     AB  ON  BC
a 1   0   1   2
  2   3   4   5
b 1   6   7   8
  2   9  10  11

In [49]:
print(df.loc['b'].loc[2]['BC'])
print(df.loc['a'].loc[1]['ON'])

11
1

In [53]:
print(df.index.names)

[None, None]

In [54]:
df.index.names = ['l1','l2']
print(df)

       AB  ON  BC
l1 l2
a  1    0   1   2
   2    3   4   5
b  1    6   7   8
   2    9  10  11

In [62]:
#xs method
print(df.xs('a'))
print(df.loc['a'])

    AB  ON  BC
l2
1    0   1   2
2    3   4   5
    AB  ON  BC
l2
1    0   1   2
2    3   4   5