In [12]:
#missing data
import numpy as np
import pandas as pd

dict1 = {
    "A": [1, 2, np.nan, 45, np.nan],
    "B": [np.nan, np.nan, np.nan, np.nan, np.nan],
    "C": [223, 34, 13, 44, 2],
    "D": [203, np.nan, np.nan, 23, 5684],
}

df = pd.DataFrame(dict1)
print(df)

      A   B    C       D
0   1.0 NaN  223   203.0
1   2.0 NaN   34     NaN
2   NaN NaN   13     NaN
3  45.0 NaN   44    23.0
4   NaN NaN    2  5684.0

In [13]:
print(df.isnull())
print(df.notnull())

       A     B      C      D
0  False  True  False  False
1  False  True  False   True
2   True  True  False   True
3  False  True  False  False
4   True  True  False  False
       A      B     C      D
0   True  False  True   True
1   True  False  True  False
2  False  False  True  False
3   True  False  True   True
4  False  False  True   True

In [9]:
#doing sum checking
print(df['B'])
print(df.sum())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: B, dtype: float64
A      48.0
B       0.0
C     316.0
D    5910.0
dtype: float64

In [19]:
#hresh ans axis
print(df.dropna(axis=1))
print(df.dropna(axis=0))
print(df.dropna(thresh=1))

     C
0  223
1   34
2   13
3   44
4    2
Empty DataFrame
Columns: [A, B, C, D]
Index: []
      A   B    C       D
0   1.0 NaN  223   203.0
1   2.0 NaN   34     NaN
2   NaN NaN   13     NaN
3  45.0 NaN   44    23.0
4   NaN NaN    2  5684.0

In [20]:
print(df.fillna(value="done"))

      A     B    C       D
0   1.0  done  223   203.0
1   2.0  done   34    done
2  done  done   13    done
3  45.0  done   44    23.0
4  done  done    2  5684.0